{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{ genre.name }} {% endblock title %}
{% block container %}
<div class="container py-md-3">
    {% endblock container %}

    {% block sidebar %}
    <div class="side-bar col-lg-4">
        {% endblock sidebar %}

        {% block movie %}

        <div class="left-ads-display col-lg-8">
            <h3 class="shop-sing editContent">
                {{ genre.description|safe }}

            </h3>
            <h4>Фильмы этого жанра:</h4>
            <span>
                {% for movie in genre.film_genre.all %}
                {{ movie.title }}
                {% endfor %}


            </span>
        </div>
    </div>
</div>
{% endblock movie %}
